body, ul {
    padding: 0;
    margin: 0;
}
body {
    padding: 10px 20px;
    padding-right: 10px;
}
/*滚动条样式*/
body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
a {
    color: #000;
    text-decoration: none;
} 
input.search {
    width: 300px;
    height: 27px;
    box-sizing: border-box;
    padding: 6px 12px;
    color: #555;
    border: #5098f7 1px solid;
    border-radius: 11px;
    margin: 0 auto; 
    display: block;
}
.search:focus {
    outline: none;
} 
ul#bookmarks {
    padding: 0;
    padding-top: 10px;
    max-width: 480px;
    overflow: hidden;
}
#bookmarks ul {
    font-size: 13px;
    padding-left: 15px;
} 
#bookmarks ul>div {
    cursor: pointer;
    max-width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    padding: 5px 0;
    margin-left: -15px;
    position: relative;
}
#bookmarks li {
    cursor: pointer;
    padding: 5px 0;
    list-style: none !important;
    max-width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    position: relative;
} 
#bookmarks li span {
    padding-left: 5px;
}

#bookmarks>li>ul ul li {
    display: none;
} 
.file:hover, .files:hover {
    background-color: #f1f2f3;
}
/* 删除按钮 */
.optionBtn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 5px;
    border: none;
    display: none;
    cursor: pointer;
    vertical-align: middle;
    font-size: 18px;
    background-color: #f1f2f3;
} 
.delete {
    color: #f05151;
}
.file:hover .delete, .file:hover .edit {
    display: block;
}
.files:hover .add, .files:hover .delete, .files:hover .edit {
    display: block;
}
.files:hover .add {
    right: 47px;
}
.edit {
    right: 20px;
    color: #5098f7;
} 
.file, .files {
    transition: all .2s ease;
}
.file:hover, .files:hover {
    font-size: 18px;
}
.file:hover .optionBtn, .files:hover .optionBtn {
    top: 5px;
}
img.icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}